<%= form_with model: @entrada, local: true do |form| %>
  <% if @entrada.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@entrada.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @entrada.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %>
  </p>
 
  <p>
    <%= form.label :texto %><br>
    <%= form.text_area :texto %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>