<h1>Listado Entradas</h1>
 
<table>
  <tr>
    <th>Titulo</th>
    <th>Texto</th>
    <th>Creado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @entradas.each do |entrada| %>
    <tr>
      <td><%= entrada.titulo %></td>
      <td><%= entrada.texto %></td>
      <td><%= entrada.created_at %></td>
      <td><%= link_to 'Mostrar', entrada_path(entrada) %></td>
      <td><%= link_to 'Editar', edit_entrada_path(entrada) %></td>
      <td><%= link_to 'Eliminar', entrada_destroy_path(entrada)%></td>
    </tr>
  <% end %>
</table>