<!DOCTYPE html>
<html>
  <head>
    <title>Pages for BCN Blog</title>
    <%= stylesheet_link_tag "estilos.css" %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Link a Franquicias", franquicias_path("VLC")%></li>
    </ul>
    <%= yield %>
  </body>
</html>